/* :global(table) {
  border-color: transparent;
  width: 100%;
} */

:global(.modal-dialog) {
  width: 70%;
  max-width: 800px;
  min-width: 680px;
  overflow-x: auto;
}


.modalHeader {
  background-color: #2a2b2c !important;
  border-bottom: none !important;
  border-color: #2a2b2c;
}

.modalContent {
  background-color: #313435;
  margin: 0rem !important;
}

/* :global(.modal) {
  overflow-x: scroll;
} */

.info {
  font-size: large;
  font-weight: 600;
  text-align: left;
}

.dexTable {
  border-color: transparent;
  table-layout: fixed;
  min-width: 630px;
  max-width: 750px;
  width: fit-content;
  background-color: #2d2f30 !important;
}

.darkBackground {
  background-color: inherit !important;
  color: oldlace !important;
}

.icon {
  width: 120px;
  padding: 0.5rem;
  margin: 3rem;
}

.generalInfo {
  border: 1px solid;
  border-color: grey;
}

.attackTableContainer {
  float: left;
  width: fit-content;

}

.statsTable {
  border-color: transparent !important;
  text-align: left;
  table-layout: fixed;
  width: 100%;
  line-height: 0rem;
  margin-bottom: 0rem !important;

}

.statName {
  /* float: left; */
  width: 4.5rem;
}

.statsBar {
  border-radius: 1rem;
  float: left;
  height: 8px;
  /* padding-top: 1rem !important; */
  /* vertical-align: bottom; */
}